.navbar {
    background: #8fbf7b;
}

#map {
    width: 100%;
    height: 500px;
}

#leaveRequest {
    position: absolute;
    z-index: 1;
    background: honeydew;
    width: 400px;
    margin-left: -100%;
    padding: 30px;
    height: 100%;
}

#leaveRequest .btn{
    margin-top: 30px;
}
.open {
    margin-left: 0 !important;
    animation-name: slideIn;
    animation-duration: 2s;
}

.closed {
    margin-left: -100% !important;
    animation-name: slideOut;
    animation-duration: 2s;
}

.content {
    display: flex;
}

.form-check-label {
    margin-right: 30px;
}


.form-check-inline {
    margin-bottom: 10px;
}
@keyframes slideIn {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}

@keyframes slideOut {
    from {
        margin-left: 0;
    }
    to {

        margin-left: -100%;
    }
}